.power-star-percent.red {
    background: rgba(201, 28, 28, 0.6);
    border-top: 3px solid rgba(247, 18, 18, 0.9);
    border-bottom: 3px solid rgba(247, 18, 18, 0.9);
}

.power-star-percent.blue {
    background: rgba(28, 117, 201, 0.6);
    border-top: 3px solid rgba(21, 95, 233, 0.9);
    border-bottom: 3px solid rgba(21, 95, 233, 0.9);
}