.cs-config-wrapper {
    @include module-wrapper;

    &.visible {
        display: flex;
    }

    flex-direction: column;

    position: fixed;
    width: 1000px;
    height: 720px;
    box-sizing: border-box;
    padding: 1em;
    left: calc(50% - 500px);
    top: 100px;
    z-index: 1000; // Arbitrary choice but seems to work

    background-color: #e0e0e0;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.25);
    color: black;
}

.cs-config-h2 {
    margin: 0 0 0.5em 0;
}

.cs-config-row {
    box-sizing: border-box;
    display: flex;
    width: 100%;
    margin-bottom: 1em;
    padding: 0.5em;

    flex-wrap: wrap;
    justify-content: space-between;

    background-color: white;
}

.cs-config-row__co-config {
    height: 400px;
    overflow: auto;
}

.cs-config-row__co-spritesheet-config {
    input {
        width: 400px;
    }
}

.cs-config-field-wrapper {
    box-sizing: border-box;
    padding: 0.25em;
    width: 48%;
}

.cs-config-co {
    width: 100%;
}

.cs-config-co__name {
    display: table-cell;
    vertical-align: middle;
    width: 70px;
    text-transform: capitalize;
}

.cs-config-co__portraits {
    display: table-cell;
    vertical-align: middle;
    width: 450px;

    .co-icon {
        cursor: pointer;

        &.selected {
            outline: 2px red solid;
        }
    }
}

.cs-config-co__youtube-url {
    display: table-cell;
    vertical-align: middle;
    width: 400px;

    input {
        width: 400px;
    }
}