.youtube-embed-wrapper {
    margin-top: 1em;
}

.youtube-link-wrapper {
    width: 530px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    background-color: white;
    color: #404040;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.4);
}

.youtube-link-wrapper a {
    color: #0066CC;
}

.youtube-link-wrapper--fixed {
    position: fixed;
}